* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    background-color:white;
    color:black; 
    height: 100vh; 
    display: flex;
    flex-direction: column;

}
.top-content {
    flex-grow: 1; 
    padding: 20px; 
    background-color: black;
    color:white;
    display: flex;
    align-items:center;
   
  }

  
.top-content img {
  max-width:550px;
  float: left;
  border: 3px solid white;
  border-radius: 10px;
  margin-right:50px;
  align-items:center;
  }

.top-content-text p{
  width: 100%; 
  margin-bottom: 10px;
}



.content-container {
  flex-grow: 1; 
  padding: 20px; 
}

p{
  font-size: 18px;
  line-height: 1.5;

}

.coloured-text{
  color:grey;
}

h2{
  font-size: 28px;
}
.btn-primary{
  box-shadow: none;
  padding :8px 20px;
  border-radius: 2px;
  border: 2px solid darkblue;
  color:rgb(82, 82, 214);
  background: none;
  text-align: center;
  
}
.btn-primary:hover{
  background: darkblue;
  color:white;
  border:2px solid;

}

.text-center{
  text-align: center;
  
}

.table-bordered {
  width: 100%;
  margin-bottom: 20px;
}

.table-bordered th {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: center;
}

.footer {
  margin-top: 20px;
}

  